DJANGO_SECRET_KEY=change-me-for-deploy
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=

# Можно использовать один тестовый аккаунт Stripe как fallback...
STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key

# ...или разные keypair под валюты, как в бонусном задании.

STRIPE_PUBLIC_KEY_USD=your_stripe_public_key_usd
STRIPE_SECRET_KEY_USD=your_stripe_secret_key_usd

STRIPE_PUBLIC_KEY_EUR=your_stripe_public_key_eur
STRIPE_SECRET_KEY_EUR=your_stripe_secret_key_eur


DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin12345
